/* font-family: "roboto"; */
@font-face
{
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto/roboto.woff') format('woff'),
    url('../fonts/Roboto/roboto.woff2') format('woff2');
}
/* font-family: "robotomedium"; */
@font-face
{
    font-family: 'robotomedium';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto/robotomedium.woff') format('woff'),
    url('../fonts/Roboto/robotomedium.woff2') format('woff2');
}

/* font-family: "robotoblack"; */
@font-face
{
    font-family: 'robotoblack';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto/robotoblack.woff') format('woff');
}


@font-face
{
    font-family: 'robotobold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto/robotobold.woff') format('woff');
}
/* temp block */

.index-logo,
.main-nav,
.user-block,
.container,
.slider-points,
.about-product-content,
.about-product-left,
.about-product-right
{
    /*outline: 1px solid red;*/
}

.sub-nav,
.filters,
.catalog,
.pages,
.footer,
.slider-pic,
.promo-content,
.misc,
.company-info
{
    /*outline: 1px solid blue;*/
}

.item,
.footer-social,
.footer-nav,
.footer-copyright,
.misc-content
{
    /*outline: 1px solid yellow;*/
}


/* end temp block  */
/*******************/
/*******************/

/**************************************************************************************************/
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font: inherit; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/
/**************************************************************************************************/



body
{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;

    color: #323232;
    background-color: #849d8f;
}

body,
ul,
li,
p,
h1,
h2,
figure,
img
{
    margin: 0;
    padding: 0;

    border: 0;
}

img
{
    vertical-align: top;

}

a:link, a:visited
{
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
}

a:hover, a:active {
    color: #ffbc9e;
    border-bottom: 1px solid #f9ac9f;
}

li
{
    list-style: none;
}

h1
{
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;
    color: #fff;
}

h2
{
    font-family: 'robotomedium', sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.btn
{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    padding: 10px 23px;
    color: #fff;
    border: none;
    border-radius: 26px;
    background-image: linear-gradient(0deg, #e74b36, #f26843);
    box-shadow: 0 3px 5px -1px rgba(172, 16, 0, 0.64);
}

.btn:hover {
    background-image: linear-gradient(0deg, #e36f58, #dc715d);
    box-shadow: 0 3px 1px -1px #ac1000;
    color: #fff;
    border:none;
    cursor: pointer;
}

.btn:active {
    background-image: linear-gradient(0deg, #d74f36, #dd5639);
    box-shadow: inset 0 3px 1px -1px #942718;
    color: #fff;
    border:none;
}


.btn-plane {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    padding: 10px 23px;
    color: #fff;
    border: none;
    border-radius: 26px;
    background-image: none;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: none;
}

input[type='text'],
input[type='email'],
textarea
{
    line-height: 24px;

    box-sizing: border-box;
    padding: 9px 15px;

    border: 1px solid #b2b2b2;
    border-radius: 5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    font-size: 16px;
}

.shadow {
    box-shadow: 0px 10px 20px 5px rgba(0,0,0,0.3);
}

/*******************/
/*******************/
/*******************/
/* header */
/*******************/
/*******************/
/*******************/
.main-header {
    position: relative;
}

.index-logo
{
    float: left;
}

.index-logo
{
    width: 154px;
    padding-left: 21px;
    padding-top: 9px;
}
a.index-logo, a.cart, a.search-icon, a.login {
    border: none;
}

/*******************/
/* main menu */
/*******************/

.main-nav
{
    width: 700px;
    float: left;
}

.main-menu {
    padding: 22px 17px 0px;
    font-size: 0px;
}

.main-menu > li
{
    display: inline-block;
    vertical-align: top;
    position: relative;
}

a.main-menu-link
{
    display: block;
    font-family: 'robotobold', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    padding: 9px 12px;
    margin-bottom: 10px;
    border: none;
    position: relative;
}

.main-menu-link:after {
    content:"";
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    left: 10px;
    right: 10px;
    bottom: 7px;
}

.main-menu > li:hover .main-menu-link {
    background: #f7f6f3;
    border-radius: 20px;
    color:#323232;
}

.main-menu-link:active
{
    background: #ededed;
    border-radius: 20px;
    color: #333333;
    box-shadow: inset 0px 2px 1px #696969;
}

.main-menu > li:hover .main-submenu
{
    display: block;
}

a.main-menu-link.current {
    background: #d07058;
    border-radius: 20px;
    color:#fff;
}

.main-menu-link.current:after  {
    border-bottom: none;
}

.main-submenu
{
    position: absolute;
    display: none;
    z-index:100;
    background: #f8f7f4;
    border-radius: 5px;
    top: 38px;
    left: -8px;
    padding: 4px 0px;
}

.main-submenu > li {
    white-space: nowrap;
    position: relative;
}

.main-submenu > li:first-child::after {
    content:"";
    display: block;
    position: absolute;
    left: 5px;
    right:5px;
    bottom: -4px;
    border-bottom: 1px solid #d1d0ce;
}

.main-submenu li:first-child a {
    padding-top: 3px;
    margin-bottom: 6px;
    font-family: 'robotobold', sans-serif;
    font-weight: bold;
}

.main-submenu a {
    color: #323232;
    padding-top: 4px;
    padding-left: 20px;
    padding-right: 27px;
    padding-bottom: 4px;
    display: block;
    font-size: 13px;
    border: none;
}

.main-submenu a:hover {
    background: #fbded8;
}
.main-submenu a:active {
    background: #f6b5a5;
}

.main-submenu a.current {
    background: #d07058;
    border-radius: none;
    color:#fff;
    cursor: default;
}



/*******************/
/* user block */
/*******************/
.user-block
{
    float: right;
    width: 263px;
    font-size: 0px;
    padding-top: 23px;
    position: relative;
    padding-right: 27px;
}

.user-block > li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 12px;
    font-size: 0px;
    padding-bottom: 5px;
}
.user-block > li:last-child {
    margin-right: 0px;
}

.search-icon,
.login,
.cart
{
    display: block;
    font-size: 14px;
    line-height: 16px;
    /* border: none; */
}

.cart-empty::before {
    content: "";
    position: absolute;
    background: url('../img/sprite.png') no-repeat 0 -164px;
    top: 6px;
    left: 14px;
    width: 21px;
    height: 20px;
}

.cart {
    padding-left: 42px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 9px;
}

a.cart-empty:hover {
    color: #fff;
}

.search-icon
{
    /* outline: 1px solid yellow; */
    width: 33px;
    height: 33px;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, .2);
    /* position: relative; */
    border: none;
}

.search-icon:before
{
    position: absolute;
    top: 9px;
    left: 9px;
    display: inline-block;
    width: 17px;
    height: 17px;
    content: '';
    background: url('../img/sprite.png') no-repeat 0 -476px;
}

.user-block li:hover .search-form
{
    display: block;
}

.user-block li:hover .search-icon:before {
    background: url('../img/sprite.png') no-repeat 0px -503px;
}

.user-block li:hover .search-icon {
  background-color: rgba(255, 255, 255, 1);  
}

.search-form
{
    position: absolute;
    bottom: -82px;
    left: -307px;
    display: none;
    box-sizing: border-box;
    padding: 20px 15px;
    background: #f8f7f4;
    border-radius: 5px;
    z-index: 100;
    width: 341px;
}

.search-form input[type="search"], .login-form input[type="email"] {
    width: 311px;
    border-radius: 5px;
    background: #fff;
    color:#000;
    padding: 9px 3px 9px 7px;
    /* padding-left: 7px; */
    line-height: 24px;
    border: 1px solid #d3d3d2;
    font-size: 14px;
}

.login-form
{
    display: none;
    position: absolute;
    top: 36px;
    right: 0px;
    box-sizing: border-box;
    padding: 20px 15px;
    background: #f8f7f4;
    border-radius: 5px;
    z-index: 100;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 241px;
    border-radius: 5px;
    background-color: #fff;
    color:#000;
    padding: 9px 3px 9px 7px;
    line-height: 24px;
    border: 1px solid #d3d3d2;
    font-size: 14px;
    margin-bottom: 20px;
}

.user-block li:hover .login-form
{
    display: block;
}

.login {
    padding-left: 43px;
    padding-bottom: 9px;
    padding-top: 7px;
    padding-right: 17px;
}

.login::before {
    content: "";
    position: absolute;
    background: url('../img/sprite.png') no-repeat 0 -418px;
    top: 6px;
    left: 15px;
    width: 21px;
    height: 19px;
}
.login-form .btn, .login-form-links {
    display: inline-block;
    vertical-align: top;
}
.login-form-links {
    margin-left: 17px;
}
.login-form-links a {
    display: block;
    color: #323232;
    font-size: 13px;
    line-height: 24px;
    text-decoration: underline;
}

.user-block li:hover .login::before {
    background: url('../img/sprite.png') no-repeat 0px -447px;
}

.user-block li:hover .login {
    background-color: #fff;
    color: rgba(50, 50, 50, 0.1);
}

/*******************************/
/***** company information *****/
/*******************************/

.company-info
{
    text-align: right;
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 263px;
    /* padding-top: 14px; */
    top: 95%;
    right: 27px;
    /* padding-top: 0; */
}

a.tel-number {
    font-size: 22px;
    line-height: 24px;
    font-family: 'robotoblack', sans-serif;
    border: none;
}

a.tel-number:hover {
    color:#fff;  
}

/*******************************/
/***** product ******/
/*******************************/

.item
{
    font-size: 16px;
    display: inline-block;
    width: 267px;
    margin-right: 26px;
    vertical-align: top;
    position: relative;
    padding-bottom: 30px;
    padding-top: 5px;
}

.item:before {
    content: "";
    width: 278px;
    height: 406px;
    position: absolute;
    z-index: 100;
    top:0px;
    left: -6px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    display: none;
}

.item:hover:before {
    display: block;
} 

a.btn-view {
    font-size: 18px;
    line-height: 24px;
    border: none;
}


.item:nth-child(4n)
{
    margin-right: 0;
}

.item-bestseller::after {
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    width: 61px;
    height: 61px;
    background: url('../img/sprite.png') no-repeat 0px -661px;
}

.item-price {
    position: absolute;
    top: 209px;
    left: 0px;
    font-size: 41px;
    letter-spacing: 3px;
    line-height: 45px;
    font-weight: bold;
    color:#fff;
    text-shadow: 2px 2px 5px rgba(49, 50, 53, 0.5);
}

.kg {
    font-size: 28px;
}

.item-pic {
    margin-bottom: 15px;
    /* position: relative; */
    /* z-index: 10; */
}

.rub {
    font-size: 41px;
    margin-left: -8px;
}


.btn-view {
    display: none;
    position: absolute;
    bottom: -21px;
    left: 30px;
    padding: 10px 20px;
    /* font-size: 16px; */
    z-index: 100;
}

/*.item:hover a {
    border:none;
    color:#fff;
}*/

.item:hover .btn-view {
    display:block;
}
/*******************/
/* slider */
/*******************/

.slider
{
    padding: 0 27px;
    text-align: center;
    margin-top: 10px;
}
.slider-points
{
    text-align: left;
    font-size: 0;
}

.slider-points a
{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.slider-points a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

a.slider-active:hover,
.slider-active, .slider-points a:active
 {
    background-color: #fff;
}

.slider-active:hover, 
.slider-active {
    cursor: default;
}

.slider-pic
{
    min-height: 584px;
    position: relative;
    text-align: center;
}

.slider-pic img {
    display: block;
    margin: 0 auto;
}

.slider-title {
    font-size: 57px;
    line-height: 64px;
    color:#fff;
    position: absolute;
    font-weight: bold;
    font-family: 'robotoblack', sans-serif;
    width: 700px;
    left: 50%;
    top: 305px;
    transform: translateX(-50%);
}

.slider-points {
    position: absolute;
    display: inline-block;
    bottom: 71px;
    left: 0px;
}

.slider-btn {
    font-size: 31px;
    line-height: 43px;
    display: inline-block;
    font-family: 'robotobold', sans-serif;
    position: absolute;
    bottom: 60px;
    padding: 10px 38px;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 33px;
    text-shadow: 0px 3px 5px rgba(160, 32, 11, 0.76);
}

/*******************/
/* promo block */
/*******************/

.promo-content
{
    margin-top: -20px;
    margin-bottom: 40px;
    padding: 0px 27px;
    color: #fff;
}

.promo
{
    width: 520px;
    padding: 20px 20px 70px;
    border-radius: 17px;
    position: relative;
    text-align: right;
}

.promo-title
{
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
    color: #fff;
    margin-bottom: 19px;
    text-align: left;
}

.promo-left-col
{
    float: left;

    background: url('../img/bg/raspberry.png') no-repeat;
}

.promo-right-col
{
    float: right;

    background: url('../img/bg/chocolate.png') no-repeat;
}

.promo-text {
    height: 70px;
    margin-bottom: 17px;
    overflow-y: hidden;
    text-align: left;
}

.promo-btn {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 22px;
    bottom: 26px;
    /* margin-top: 8px; */
}
/*******************/
/* catalog */
/*******************/

.catalog
{
    text-align: center;
    margin-bottom: 50px;
}

/*******************/
/* about product */
/*******************/

.about-product-content
{
    margin: 0px 27px;
    margin-bottom: 40px;
    padding: 25px 20px 0px 20px;
    color: #000;
    border-radius: 15px;
    background: url('../img/bg/wafel.jpg');
}

.about-product
{
    width: 539px;
}

.about-product-left
{
    float: left;
}

.about-product-right
{
    float: right;
}

.about-product-content h2
{
    margin-bottom: 22px;
}

.about-product-content p
{
    margin-bottom: 22px;
    padding-left: 55px;
    position: relative;
}

.marked::before {
    content:"";
    width: 49px;
    height: 49px;
    background: url('../img/sprite.png') no-repeat;
    position: absolute;
    left: 0px;
    top: -13px;
}

.marked-ice::before {
    background-position: 0px -305px;
}

.marked-leaf::before {
    background-position: 0 -362px;
}

.marked-cow::before {
    background-position: 0 -224px;
}

.marked-therm::before {
    background-position: 0 -531px;
}

/*******************/
/* new post and subscribe */
/*******************/

.misc-content
{
    margin-bottom: 40px;
    padding: 0 27px;
}

.misc-left-col,
.misc-right-col
{
    width: 560px;
}

.misc-left-col
{
    float: left;
}

.misc-right-col
{
    float: right;
}

.subscribe
{
    border: 6px solid red;
    background-color: #efeeec;
}

.new-post
{
    padding: 23px 20px 81px;

    background: url('../img/bg/strawberry.png') no-repeat;
}

.new-post p
{
    font-size: 16px;
    line-height: 22px;

    margin-bottom: 4px;
}

.new-post a
{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    display: inline-block;

    width: 300px;

    text-decoration: underline;

    color: #323232;
}

.subscribe-input
{
    margin-bottom: 34px;

    white-space: nowrap;
}

.subscribe p
{
    margin-bottom: 34px;
    padding-top: 28px;
    padding-left: 20px;
}

.subscribe input[type='email']
{
    display: inline-block;

    width: 368px;
    margin-left: 20px;
}
/*******************/
/* map */
/*******************/

.map
{
    position: relative;
}

/*******************/
/* contact */
/*******************/

.contact
{
    font-size: 14px;
    line-height: 20px;

    position: absolute;
    top: 60px;
    right: 27px;

    display: inline-block;

    box-sizing: border-box;
    width: 302px;
    padding: 26px 25px 25px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, .98);
}

.contact span
{
    font-size: 18px;
    font-weight: bold;

    display: block;

    padding-top: -3px;
}

.contact-address
{
    line-height: 23px;

    margin-bottom: 18px;
    padding-right: 30px;
}

.contact-tel
{
    line-height: 15px;

    margin-bottom: 26px;
}
.contact-tel span
{
    padding-top: 14px;
    padding-bottom: 9px;
}

.btn-feedback
{
    margin-bottom: 6px;
    padding-left: 29px;
    padding-top: 14px;
    padding-bottom: 14px;
}

a.btn-feedback {
    border:none;
    display: block;
}

/*******************/
/* form-feedback */
/*******************/

/* TODO:*/
/* поля съезжают при фокусе */
/* добавить текст над полями при фокусе */

.form-feedback
{
    position: relative;
    position: absolute;
    /* временно */
    top: 100%;
    left: 0;

    display: none;

    box-sizing: border-box;
    width: 478px;
    height: 443px;
    padding: 20px 24px;

    border-radius: 20px;
    background-color: #f7efeb;
}
.form-feedback p
{
    font-family: 'robotomedium', sans-serif;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 25px;
}

.form-feedback textarea
{
    display: block;
}

.form-feedback input[type='text'],
.form-feedback input[type='email']
{
    position: relative;

    display: block;

    width: 267px;
    margin-bottom: 20px;
}

.form-feedback textarea
{
    width: 428px;
    height: 155px;
    margin-bottom: 25px;
}

.form-feedback input[type='text']:hover,
.form-feedback input[type='email']:hover,
.form-feedback textarea:hover
{
    margin-bottom: 18px;

    border: 2px solid #9a9a9a;
}

.form-feedback textarea:hover
{
    margin-bottom: 25px;
}

.form-feedback input[type='text']:focus,
.form-feedback input[type='email']:focus,
.form-feedback textarea:focus
{
    border: 2px solid #cbe0f6;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
{
    visibility: hidden;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder
{
    visibility: hidden;
}


.form-feedback input[type='text']:focus::before
{
    position: absolute;

    width: 10px;
    height: 10px;

    content: '';
}

.form-feedback:before
{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 17px;
    height: 17px;

    content: '';

    background: url('../img/cross.png') no-repeat;
}

.form-feedback:hover::before
{
    cursor: pointer;
}


/***********************/
/***********************/
/*  catalog page  */
/***********************/
/***********************/

.inner-page main
{
    margin: 0 27px;
}

.inner-page .main-header {
    margin-bottom: 25px;
}

.cart-form
{
    position: absolute;
    display: none;
    width: 540px;
    background: #f8f7f4;
    top: 37px;
    right: 0px;
    border-radius: 6px;
    padding: 20px;
    box-sizing: border-box;
    color:#000;
    z-index: 100;
}
.cart-list {
    color:#000;
    width: 100%;
}
.cart-item label {
    color:#000;
    display: block;
}
.cart-noempty {
    padding-right: 10px;
    position: relative;
    cursor:pointer;
}

.cart-noempty:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 20px;
    background: url("../img/sprite.png") no-repeat 0px -194px;
    left: 12px;
    top: 6px;
}
.user-block li:hover .cart-form
{
    display: block;
}

.user-block li:hover .cart-noempty {
    background-color: #fff;
    color:#000;
}

/***********************/
/* breadcrumbs */
/********************/
.sub-nav {
    margin-bottom: 0px;
}
.sub-nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 0px;
    position: relative;
    margin-right: 17px;
}

.sub-nav a {
    font-size: 14px;
    line-height: 16px;
}

.sub-nav li:last-child {
    margin-right: 0px;
}

.sub-nav li:after {
    content: "\00BB";
    position: absolute;
    font-size: 14px;
    font-family: 'roboto', sans-serif;
    top: -3px;
    right: -15px;
    color:#fff;
}

.sub-nav li:last-child:after {
    content: none;
}

.sub-nav a.current {
    cursor: default;
    border:none;
}

.sub-nav a.current:hover {
    cursor: default;
    border:none;
    color:#fff;
}


/***********************/
/* filter */
/***********************/
.filters
{
    margin-bottom: 64px;
}
.filter-set
{
    display: inline-block;
}

/***********************/
/* pagination */
/***********************/

.pages
{
    font-size: 0;
    text-align: right;
    margin-bottom: 30px;
}

.pages li
{
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2px;
    text-align: center;
}
.pages li:last-child {
    margin-right: 0px;
}

a.page-link,
a.page-link-prev,
a.page-link-next {
    display: block;
    width: 26px;
    height: 26px;
    border:none;
    color:#fff;
    line-height: 26px;
}

a.page-link:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
}

a.page-link.current, a.page-link:active {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 50%;
    cursor: default;
}

a.page-link.disabled,
a.page-link.disabled:hover,
a.page-link-prev.disabled,
a.page-link-prev.disabled:hover {
    color: rgba(255, 255, 255, 0.2);
    background: none;
    cursor: default;
}

.page-link-prev, .page-link-next {
    position: relative;
}
.page-link-prev:before,
.page-link-prev:after,
.page-link-next:before,
.page-link-next:after {
    content: "";
    position: absolute;
    width: 11px;
    height: 0px;
    top: 8px;
    left: 3px;
    border-top: 2px solid #fff;
    transform: rotate(-40deg);
}

.page-link-prev:after {
    top: 15px;
    transform: rotate(40deg);
}

.page-link-next:before {
    transform: rotate(40deg);
    top: 9px;
    left: 15px;
}

.page-link-next:after {
    transform: rotate(-40deg);
    top: 15px;
    left: 15px;
}


a.page-link-prev.disabled:before,
a.page-link-prev.disabled:after,
a.page-link-next.disabled:before,
a.page-link-next.disabled:after
{
    cursor: default;

    border-top: 2px solid rgba(255, 255, 255, .2);
    background: none;
}



a.page-link-prev:hover,
a.page-link-next:hover
 {
    opacity: 0.5;
    background: none;
}



a.page-link-prev.disabled:hover,
a.page-link-next.disabled:hover
 {
    opacity: 1;
    background: none;
}


.list-item
{
    font-size: 0;
}

/***********************/
/* footer */
/***********************/


.footer
{
    position: relative;
    padding: 0px 27px 25px;
    color: #fff;
}

.footer-catalog:before
{
    position: absolute;
    top: 0;
    left: 27px;

    display: block;

    width: 1146px;

    content: '';

    border-top: 1px solid rgba(255, 255, 255, .3);
}

.footer-social,
.footer-nav
{
    font-size: 0px;
    float: left;
    margin-right: 26px;
    margin-top: 34px;
}

.footer-copyright
{
    float: right;
    margin-right: 0px;
    margin-top: 18px;
}

.footer-social,
.footer-copyright
{
    width: 260px;
}

.social-btn
{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    position: relative;
    margin-right: 16px;
    box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
}

a.social-btn, a.social-btn:hover {
    border: none;
}

.social-btn:hover {
    opacity: 1;
}

.social-btn:active {
    /* todo */
    /*box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.5);*/
    /*box-shadow: inset 0 3px 0 3px black;*/
    /*inset 3px 3px 0px -3px #000;*/
}

.social-btn:before {
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/sprite.png') no-repeat top left;
}

.social-btn-tw::before {
    width: 32px;
    height: 32px;2px
    background-position: 0 -84px;
    background-position: 0px -78px;
}

.social-btn-inst::before {
    width: 32px;
    height: 32px;
    background-position: 0px -37px;
}
.social-btn-fb::before {
    width: 32px;
    height: 32px;
    background-position: 0px 0;
}
.social-btn-vk::before {
    width: 32px;
    height: 32px;
    background-position: 0px -120px;
}

.footer-nav
{
    width: 560px;
    font-size: 13px;
}



.footer-nav a
{
    display: inline-block;
    position: relative;
    font-size: 13px;
}

.footer-social .marked::before {
    width: 15px; height: 13px;
}

.footer-social {
    padding: 4px;
}

.marked-heart::before {
    top: 2px;
    left: -24px;
    background-position: 0 -281px;
    width: 15px;
    height: 13px;
}

.footer-nav span {
    display: block;
}

.footer-nav-col1,
.footer-nav-col2
{
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    vertical-align: top;
}
.footer-nav-col1
{
    padding-left: 129px;
}
.footer-nav-col2
{
    padding-left: 30px;
}

.htmlacademy-logo
{
    padding-left: 72px;
    display: block;
    margin-bottom: 2px;
}

a.htmlacademy-logo {
    border:none;

}

.made
{
    text-align: right;
    font-size: 12px;
    line-height: 18px;
}

.made > a {
    font-size: 12px;
}
