/* font-family: "roboto"; */
@font-face
{
    font-family: 'roboto';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto/roboto.woff') format('woff'),
    url('../fonts/Roboto/roboto.woff2') format('woff2');
}
/* font-family: "robotomedium"; */
@font-face
{
    font-family: 'robotomedium';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Roboto/robotomedium.woff') format('woff'),
    url('../fonts/Roboto/robotomedium.woff2') format('woff2');
}

/* temp block */

.index-logo,
.main-nav,
.user-block,
.container,
.slider-points,
.about-product-content,
.about-product-left,
.about-product-right
{
    outline: 1px solid red;
}

.sub-nav,
.filters,
.catalog,
.pages,
.footer,
.slider-pic,
.promo-content,
.misc
{
    outline: 1px solid blue;
}

.item,
.footer-social,
.footer-nav,
.footer-copyright,
.misc-content
{
    outline: 1px solid yellow;
}


/* end temp block  */
/*******************/
/*******************/


body
{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;

    color: #323232;
    background-color: #849d8f;
}

body,
ul,
li,
p,
h1,
h2,
figure,
img
{
    margin: 0;
    padding: 0;

    border: 0;
}

img
{
    vertical-align: top;
}

a
{
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 

    color: #fff;
}

li
{
    list-style: none;
}

h1
{
    font-size: 35px;
    font-weight: bold;
    line-height: 41px;

    color: #fff;
}

h2
{
    font-family: 'robotomedium', sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.clearfix:after
{
    display: table;
    clear: both;

    content: '';
}

.container
{
    width: 1200px;
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.btn
{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    display: inline-block;
    padding: 10px 23px;
    color: #fff;
    border: none;
    border-radius: 26px;
    background-image: linear-gradient(0deg, #e74b36, #f26843);
    box-shadow: 0 3px 5px -1px rgba(172, 16, 0, 0.64);
}

input[type='text'],
input[type='email'],
textarea
{
    line-height: 24px;

    box-sizing: border-box;
    padding: 9px 15px;

    border: 1px solid #b2b2b2;
    border-radius: 5px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder
{
    font-size: 16px;
}

/*******************/
/* header */
/*******************/

.index-logo,
.main-nav
{
    float: left;
}

.user-block
{
    float: right;
}

.index-logo
{
    width: 154px;
}

.main-nav
{
    width: 700px;
}

.user-block
{
    width: 267px;
}

/*******************/
/* main menu */
/*******************/

.main-menu > li
{
    display: inline-block;

    white-space: nowrap;
}

.main-submenu
{
    position: absolute;

    display: none;
}

.has-submenu
{
    position: relative;

    display: inline-block;
}

.has-submenu:hover + ul
{
    display: block;
}

/*******************/
/* user block */
/*******************/

.search-icon,
.login,
.cart
{
    position: relative;

    display: inline-block;
}

.search-icon,
.login
{
    margin-right: 10px;

    vertical-align: top;
}

.search-icon
{
    width: 33px;
    height: 33px;

    border-radius: 18px;
    background-color: rgba(255, 255, 255, .2);
}

.search-icon:before
{
    position: absolute;
    top: 9px;
    left: 9px;

    display: inline-block;

    width: 17px;
    height: 17px;

    content: '';

    background: url('../img/icons/loupe.svg') no-repeat;
}

.search-icon:hover + .search-form
{
    display: block;
}

.search-form
{
    position: absolute;

    display: none;
}

.login-form
{
    display: none;
}
.login:hover + .login-form
{
    position: absolute;

    display: block;
}

.company-info
{
    text-align: right;
}

.item
{
    font-size: 16px;

    display: inline-block;

    width: 267px;
    margin-right: 26px;

    vertical-align: top;
    position: relative;
}

.item:nth-child(4n)
{
    margin-right: 0;
}

.item-bestseller::before {
    content: "";
    position: absolute;
    top:0px;
    left: 0px;
    width: 61px;
    height: 61px;
    background: url('../img/sprite.png') no-repeat 0px -732px;
}

.item-price {
    position: absolute;
    top: 209px;
    left: 0px;
    font-size: 41px;
    letter-spacing: 3px;
    line-height: 45px;
    font-weight: bold;
    color:#fff;
    text-shadow: 2px 2px 5px rgba(49, 50, 53, 0.5);
}

.kg {
    font-size: 28px;
}

.item-pic {
    margin-bottom: 15px;
}

.rub {
    font-size: 41px;
    margin-left: -8px;
}


.btn-view {
    display: none;
}
/*******************/
/* slider */
/*******************/

.slider
{
    padding: 0 27px;

    text-align: center;
}
.slider-points
{
    text-align: left;
    font-size: 0;
}

.slider-points a
{
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.slider-pic
{
    min-height: 584px;
    position: relative;
}

.slider-title {
    font-size: 57px;
    line-height: 64px;
    color:#fff;
    position: absolute;
    bottom: 150px;
    font-weight: bold;
    /* padding: 0 100px; */
    left: 240px;
    right: 240px;
}

.slider-active {
    background-color: #fff;
}

.slider-points {
    position: absolute;
    display: inline-block;
    bottom: 72px;
    left: 0px;
}

.slider-btn {
    font-size: 32px;
    line-height: 45px;
    padding: 10px 40px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 33px;
    text-shadow: 0px 3px 5px rgba(160, 32, 11, 0.76);
}

/*******************/
/* promo block */
/*******************/

.promo-content
{
    margin-bottom: 40px;
    padding: 0px 27px;
    color: #fff;
}

.promo
{
    width: 520px;
    padding: 20px 20px 70px;
    /* padding-bottom: 25px; */
    border-radius: 17px;
    position: relative;
    /* height: 190px; */
    /* overflow-y: hidden; */
    text-align: right;
}

.promo-title
{
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
    color: #fff;
    margin-bottom: 19px;
    text-align: left;
}

.promo-left-col
{
    float: left;

    background: url('../img/bg/raspberry.png') no-repeat;
}

.promo-right-col
{
    float: right;

    background: url('../img/bg/chocolate.png') no-repeat;
}

.promo-text {
    /* padding-top: 19px; */
    /* margin-bottom: 90px; */
    height: 70px;
    margin-bottom: 17px;
    /* max-height: 100px; */
    overflow-y: hidden;
    text-align: left;
}

.promo-btn {
    text-align: right;
    display: inline-block;
    position: absolute;
    right: 22px;
    bottom: 26px;
    /* margin-top: 8px; */
}
/*******************/
/* catalog */
/*******************/

.catalog
{
    text-align: center;
}

/*******************/
/* about product */
/*******************/

.about-product-content
{
    margin: 0px 27px;
    padding: 25px 20px;
    color: #000;
    border-radius: 15px;
    background: url('../img/bg/wafel.jpg');
}

.about-product
{
    width: 539px;
}

.about-product-left
{
    float: left;
}

.about-product-right
{
    float: right;
}

.about-product-content h2
{
    margin-bottom: 22px;
}

.about-product-content p
{
    margin-bottom: 22px;
    padding-left: 55px;
    position: relative;
}

.marked::before {
    content:"";
    width: 48px;
    height: 49px;
    background: url('../img/sprite.png') no-repeat;
    position: absolute;
    left: 0px;
    top: -13px;
}

.marked-ice::before {
    background-position: 0 -309px;
}

.marked-leaf::before {
    background-position: 0 -367px;
}

.marked-cow::before {
    background-position: 0 -228px;
}

.marked-therm::before {
    background-position: 0 -481px;
}

/*******************/
/* new post and subscribe */
/*******************/

.misc-content
{
    margin-bottom: 40px;
    padding: 0 27px;
}

.misc-left-col,
.misc-right-col
{
    width: 560px;
}

.misc-left-col
{
    float: left;
}

.misc-right-col
{
    float: right;
}

.subscribe
{
    border: 6px solid red;
    background-color: #efeeec;
}

.new-post
{
    padding: 23px 20px 81px;

    background: url('../img/bg/strawberry.png') no-repeat;
}

.new-post p
{
    font-size: 16px;
    line-height: 22px;

    margin-bottom: 4px;
}

.new-post a
{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;

    display: inline-block;

    width: 300px;

    text-decoration: underline;

    color: #323232;
}

.subscribe-input
{
    margin-bottom: 34px;

    white-space: nowrap;
}

.subscribe p
{
    margin-bottom: 34px;
    padding-top: 28px;
    padding-left: 20px;
}

.subscribe input[type='email']
{
    display: inline-block;

    width: 368px;
    margin-left: 20px;
}
/*******************/
/* map */
/*******************/

.map
{
    position: relative;
    /* margin-bottom: 18px; */
}

/*******************/
/* contact */
/*******************/

.contact
{
    font-size: 14px;
    line-height: 20px;

    position: absolute;
    top: 60px;
    right: 27px;

    display: inline-block;

    box-sizing: border-box;
    width: 302px;
    padding: 26px 25px 25px;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, .98);
}

.contact span
{
    font-size: 18px;
    font-weight: bold;

    display: block;

    padding-top: -3px;
}

.contact-address
{
    line-height: 23px;

    margin-bottom: 18px;
    padding-right: 30px;
}

.contact-tel
{
    line-height: 15px;

    margin-bottom: 26px;
}
.contact-tel span
{
    padding-top: 14px;
    padding-bottom: 9px;
}

.btn-feedback
{
    margin-bottom: 6px;
}

/*******************/
/* form-feedback */
/*******************/

/* TODO:*/
/* поля съезжают при фокусе */
/* добавить текст над полями при фокусе */

.form-feedback
{
    position: relative;
    position: absolute;
    /* временно */
    top: 100%;
    left: 0;

    display: none;

    box-sizing: border-box;
    width: 478px;
    height: 443px;
    padding: 20px 24px;

    border-radius: 20px;
    background-color: #f7efeb;
}
.form-feedback p
{
    font-family: 'robotomedium', sans-serif;
    font-size: 24px;
    line-height: 28px;

    margin-bottom: 25px;
}

.form-feedback textarea
{
    /*padding: 15px;*/
    /*border: 1px solid #b2b2b2;*/
    /*box-sizing: border-box;*/
    display: block;
    /*border-radius: 5px;*/
}

.form-feedback input[type='text'],
.form-feedback input[type='email']
{
    position: relative;

    display: block;
    /* height: 26px; */

    width: 267px;
    margin-bottom: 20px;
}

.form-feedback textarea
{
    width: 428px;
    height: 155px;
    margin-bottom: 25px;
}

.form-feedback input[type='text']:hover,
.form-feedback input[type='email']:hover,
.form-feedback textarea:hover
{
    margin-bottom: 18px;

    border: 2px solid #9a9a9a;
}

.form-feedback textarea:hover
{
    margin-bottom: 25px;
}

.form-feedback input[type='text']:focus,
.form-feedback input[type='email']:focus,
.form-feedback textarea:focus
{
    border: 2px solid #cbe0f6;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder
{
    visibility: hidden;
}
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder
{
    visibility: hidden;
}


.form-feedback input[type='text']:focus::before
{
    position: absolute;

    width: 10px;
    height: 10px;

    content: '';
}

.form-feedback:before
{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 17px;
    height: 17px;

    content: '';

    background: url('../img/cross.png') no-repeat;
}

.form-feedback:hover::before
{
    cursor: pointer;
}


/***********************/
/***********************/
/*  catalog page  */
/***********************/
/***********************/

.inner-container
{
    padding: 0 27px;
}

.cart-form
{
    position: absolute;

    display: none;
}

.cart-noempty:hover + .cart-form
{
    display: block;
}


/***********************/
/* filter */
/***********************/
.filters
{
    margin-bottom: 35px;
}
.filter-set
{
    display: inline-block;
}

.pages
{
    font-size: 0;
    /* margin-right: 27px; */

    margin: 10px 27px;

    text-align: right;
}

.pages li
{
    font-size: 16px;

    display: inline-block;

    vertical-align: top;
}

.list-item
{
    font-size: 0;
}

/***********************/
/* footer */
/***********************/


.footer
{
    /* font-size: 13px; */
    /* line-height: 16px; */
    position: relative;
    padding: 0px 27px;
    color: #fff;
}

.footer-catalog:before
{
    position: absolute;
    top: 0;
    left: 27px;

    display: block;

    width: 1146px;

    content: '';

    border-top: 1px solid rgba(255, 255, 255, .3);
}

.footer-social,
.footer-nav
{
    font-size: 0;
    float: left;
    margin-right: 26px;
    margin-top: 34px;
}

.footer-copyright
{
    float: right;
    margin-right: 0;
    margin-top: 18px;
}

.footer-social,
.footer-copyright
{
    width: 267px;
}

.social-btn
{
    display: inline-block;
    vertical-align: top;
    width: 32px;
    height: 32px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    font-size: 0;
    position: relative;
    margin-right: 12px;
}

.social-btn:before {
    content: "";
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../img/sprite.png') no-repeat top left;
}

.social-btn-tw::before {
    width: 32px; height: 32px;
    background-position: 0 -84px;  
}

.social-btn-inst::before {
    width: 32px; height: 32px;
   background-position: 0 -42px; 
}
.social-btn-fb::before {
    width: 32px; height: 32px;
    background-position: 0 0;   
}
.social-btn-vk::before {
    width: 32px; height: 32px;
  background-position: 0 -126px;  
}

.footer-nav
{
    width: 560px;
    /* font-size: 13px; */
    /* margin-top: -22px; */
}



.footer-nav a
{
    display: block;
    position: relative;
    margin-bottom: 6px;
}

.footer-social .marked::before {
    width: 15px; height: 13px;
}

.marked-heart::before {
    top: 2px;
    left:-20px;
    background-position: 0 -286px; width: 15px; height: 13px;
}

.footer-nav a > span,
.footer-copyright a > span
{
    border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.footer-nav-col1,
.footer-nav-col2
{
    font-size: 13px;
    line-height: 16px;
    display: inline-block;
    /* padding-top: 0px; */
    vertical-align: top;
}
.footer-nav-col1
{
    padding-left: 129px;
}
.footer-nav-col2
{
    padding-left: 30px;
}

.footer-copyright p
{
    text-align: right;
    font-size: 12px;
}

.htmlacademy-logo
{
    padding-left: 80px;
    display: block;
    margin-bottom: 2px;
}

